@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
    --bs-body-bg: #101410;
    --bs-body-color: #e0e0e0;

    --bs-primary: #4CAF50;
    --bs-secondary: #757575;
    --bs-success: #43a047;
    --bs-info: #29b6f6;
    --bs-warning: #ffa726;
    --bs-danger: #e53935;
    --bs-light: #bdbdbd;
    --bs-dark: #212121;

    --bs-primary-rgb: 76, 175, 80;
    --bs-secondary-rgb: 117, 117, 117;
    --bs-success-rgb: 67, 160, 71;
    --bs-info-rgb: 41, 182, 246;
    --bs-warning-rgb: 255, 167, 38;
    --bs-danger-rgb: 229, 57, 53;
    --bs-light-rgb: 189, 189, 189;
    --bs-dark-rgb: 33, 33, 33;

    --bs-link-color: #64b5f6;
    --bs-link-hover-color: #4CAF50;

    --bs-border-color: #333;
    --bs-btn-border-radius: 6px;

    --bs-card-bg: #1e1e1e;
    --bs-card-border-color: #333;
    --bs-card-color: #e0e0e0;

    --bs-modal-bg: #1e1e1e;
    --bs-modal-border-color: #333;
    --bs-modal-header-bg: #252525;
    --bs-modal-footer-bg: #252525;

    --bs-tooltip-bg: rgba(255, 255, 255, 0.8);
    --bs-tooltip-color: #000;

    --bs-table-bg: #1c1c1c;
    --bs-table-border-color: #333;
}

.active > .page-link, .page-link.active {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.page-link {
    color: #4CAF50;
    background-color: #121212;
}

.btn-primary {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    width: 100%;
    background-color: #0e0e0e;
    color: #fff;
    text-align: center;
}

.color-primary {
    color: #336699;
}

.float-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    z-index: 1000;
}

.float-button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.float-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.trakteer {
    background-color: #be1e2d;
}

.saweria {
    background-color: #ffb800;
    color: #000;
}

@media screen and (max-width: 768px) {
    .float-container {
        flex-direction: column;
        gap: 8px;
        right: 10px;
    }

    .float-container {
        transition: transform 0.3s;
    }

    .float-container.hidden {
        transform: translateY(200%);
    }

    .float-button {
        padding: 8px 16px;
        font-size: 12px;
    }
}

.navbar {
    background-color: rgba(0, 0, 0, 0.2) !important;
}
